<div fxLayout="column" class="page-layout blank p-24" fusePerfectScrollbar>

	<mat-card>
		<mat-card-title>
			Advanced search
		</mat-card-title>
		<mat-card-content>
			<p>
				Advanced search for vehicles.
			</p>
			<mat-divider></mat-divider>
			<br>
			<form fxLayout="column" [formGroup]="advancedSearchVehiclesForm">

				<table class="form-full-width">
					<tr>
						<td>
							<mat-form-field appearance="outline" fxFlex="50">
								<mat-label>Brand</mat-label>
								<input matInput formControlName="brand">
							</mat-form-field>
						</td>
					</tr>
					<tr>
						<td>
							<mat-form-field appearance="outline" fxFlex="50">
								<mat-label>Model</mat-label>
								<input matInput formControlName="model">
							</mat-form-field>
						</td>
					</tr>
					<tr>
						<td>
							<mat-form-field appearance="outline" fxFlex="50">
								<mat-label>Fuel Type</mat-label>
								<mat-select formControlName="fuelType">
									<mat-option *ngFor="let fuelType of fuelTypes" [value]="fuelType.id">
										{{fuelType.type}}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</td>
					</tr>
					<tr>
						<td>
							<mat-form-field appearance="outline" fxFlex="50">
								<mat-label>Vehicle Type</mat-label>
								<mat-select formControlName="vehicleType">
									<mat-option *ngFor="let vehicleType of vehicleTypes" [value]="vehicleType.id">
										{{vehicleType.type}}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</td>
					</tr>
					<tr>
						<td>
							<mat-form-field appearance="outline" fxFlex="50">
								<mat-label>Transmission Type</mat-label>
								<mat-select formControlName="transmissionType">
									<mat-option *ngFor="let transmissionType of transmissionTypes" [value]="transmissionType.id">
										{{transmissionType.type}}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</td>
					</tr>
					<tr>
						<td>
							<mat-form-field appearance="outline" fxFlex="50">
								<mat-label>Price</mat-label>
								<input matInput formControlName="price" type="number">
							</mat-form-field>
						</td>
					</tr>
					<tr>
						<td>
							<mat-form-field appearance="outline" fxFlex="50">
								<mat-label>Travelled Mileage</mat-label>
								<input matInput formControlName="travelledMileage" type="number">
							</mat-form-field>
						</td>
					</tr>
					<tr>
						<td>
							<mat-form-field appearance="outline" fxFlex="50">
								<mat-label>Planned mileage to travel</mat-label>
								<input matInput formControlName="plannedMileageToTravel" type="number">
							</mat-form-field>
						</td>
					</tr>
					<tr>
						<td>
							<mat-form-field appearance="outline" fxFlex="50">
								<mat-label>Number of seats</mat-label>
								<input matInput formControlName="numberOfSeats" type="number">
							</mat-form-field>
						</td>
					</tr>
					<tr>
						<td>
							<mat-form-field appearance="outline" fxFlex="50">
								<mat-label>Grade</mat-label>
								<input matInput formControlName="grade" type="number">
							</mat-form-field>
						</td>
					</tr>
					<tr>
						<td>
							<mat-form-field appearance="outline" fxFlex="50">
								<mat-label>Vehicle discount</mat-label>
								<input matInput formControlName="vehicleDiscount" type="number">
							</mat-form-field>
						</td>
					</tr>
					<tr>
						<td>
							<mat-form-field appearance="outline" fxFlex="50">
								<mat-label>Insurance price</mat-label>
								<input matInput formControlName="insurancePrice" type="number">
							</mat-form-field>
						</td>
					</tr>
					<tr>
						<td>
							<mat-checkbox formControlName="isMileageUnlimited">
								Is the mileage unlimited?
							</mat-checkbox>
						</td>
					</tr>
					<tr>
						<td>
							<mat-checkbox formControlName="hasCollisionDamageWaiver">
								Does this vehicle have a collision damage waiver?
							</mat-checkbox>
						</td>
					</tr>
					<tr>
						<td>
							<mat-checkbox formControlName="available">
								Is this vehicle available to rent?
							</mat-checkbox>
						</td>
					</tr>
					<br>
					<tr>
						<td>
							<button mat-raised-button color="primary" (click)="advancedSearchVehicles()">
								Advanced search
							</button>
						</td>
					</tr>
				</table>
			
			</form>

			<br>

			<table mat-table [dataSource]="advancedSearchResultsDataSource" class="mat-elevation-z8">

				<ng-container matColumnDef="brand">
					<th mat-header-cell *matHeaderCellDef> Brand </th>
					<td mat-cell *matCellDef="let element"> {{element.brand}} </td>
				</ng-container>
			
				<ng-container matColumnDef="model">
					<th mat-header-cell *matHeaderCellDef> Model </th>
					<td mat-cell *matCellDef="let element"> {{element.model}} </td>
				</ng-container>
			
				<ng-container matColumnDef="fuelType">
					<th mat-header-cell *matHeaderCellDef> Fuel type </th>
					<td mat-cell *matCellDef="let element"> {{element.fuelType}} </td>
				</ng-container>
			
				<ng-container matColumnDef="vehicleType">
					<th mat-header-cell *matHeaderCellDef> Vehicle type </th>
					<td mat-cell *matCellDef="let element"> {{element.vehicleType}} </td>
				</ng-container>
			
				<ng-container matColumnDef="transmissionType">
					<th mat-header-cell *matHeaderCellDef> Transmission type </th>
					<td mat-cell *matCellDef="let element"> {{element.transmissionType}} </td>
				</ng-container>
			
				<ng-container matColumnDef="price">
					<th mat-header-cell *matHeaderCellDef> Price </th>
					<td mat-cell *matCellDef="let element"> {{element.price}} </td>
				</ng-container>
			
				<ng-container matColumnDef="travelledMileage">
					<th mat-header-cell *matHeaderCellDef> Travelled mileage </th>
					<td mat-cell *matCellDef="let element"> {{element.travelledMileage}} </td>
				</ng-container>
			
				<ng-container matColumnDef="plannedMileageToTravel">
					<th mat-header-cell *matHeaderCellDef> Planned mileage to travel </th>
					<td mat-cell *matCellDef="let element"> {{element.plannedMileageToTravel}} </td>
				</ng-container>
			
				<ng-container matColumnDef="isMileageUnlimited">
					<th mat-header-cell *matHeaderCellDef> Is mileage unlimited </th>
					<td mat-cell *matCellDef="let element"> {{element.isMileageUnlimited ? 'Yes' : 'No'}} </td>
				</ng-container>
			
				<ng-container matColumnDef="hasCollisionDamageWaiver">
					<th mat-header-cell *matHeaderCellDef> Has collision damage waiver? </th>
					<td mat-cell *matCellDef="let element"> {{element.hasCollisionDamageWaiver ? 'Yes' : 'No'}} </td>
				</ng-container>
			
				<ng-container matColumnDef="numberOfSeats">
					<th mat-header-cell *matHeaderCellDef> Number of seats </th>
					<td mat-cell *matCellDef="let element"> {{element.numberOfSeats}} </td>
				</ng-container>
			
				<ng-container matColumnDef="grade">
					<th mat-header-cell *matHeaderCellDef> Grade </th>
					<td mat-cell *matCellDef="let element"> {{element.grade}} </td>
				</ng-container>
			
				<ng-container matColumnDef="available">
					<th mat-header-cell *matHeaderCellDef> Available </th>
					<td mat-cell *matCellDef="let element"> {{element.available}} </td>
				</ng-container>
			
				<ng-container matColumnDef="vehicleDiscount">
					<th mat-header-cell *matHeaderCellDef> Vehicle discount </th>
					<td mat-cell *matCellDef="let element"> {{element.vehicleDiscount}} </td>
				</ng-container>
			
				<ng-container matColumnDef="insurancePrice">
					<th mat-header-cell *matHeaderCellDef> Insurance price </th>
					<td mat-cell *matCellDef="let element"> {{element.insurancePrice}} </td>
				</ng-container>
			
				<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

			</table>
		</mat-card-content>
	</mat-card>

</div>